<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="resources/css/style_menu_usuario.css">
</head>
<body>
    <div class="logo-contenedor">
        <img src="resources/images/uac_logo.png" alt="Logo Izquierdo" class="logo-izquierdo">
        <h1 class="titulo-sitio">CIC Assistance</h1>
        <img src="resources/images/facu_logo.png" alt="Logo Derecho" class="logo-derecho">
    </div>
    <main class="contenido">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            // Mostrar ventana de carga
            Swal.fire({
                title: 'Cargando...',
                allowOutsideClick: false,
                showConfirmButton: false,
                willOpen: () => {
                    Swal.showLoading();
                }
            });

            // Simular un retardo de 1 segundo antes de mostrar la alerta de confirmación y cerrar la ventana de carga
            setTimeout(() => {

                // Mostrar alerta de confirmación
                Swal.close(); // Cerrar ventana de carga
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer %>
                }).then(() =>{
                    window.location = '/<%= ruta %>';
                });

            }, 1000);
        </script>
    </main>

    <footer class="pie-pagina">
        <p>&copy; 2024 CIC Assistance. Todos los derechos reservados.</p>
    </footer>
    
    <script src="resources/scripts/paneles.js"></script>
    
</body>
</html>
